<div id="cc-login-box" class="cc-box cc-root-box cc-shadow"
  data-ng-style="{'margin-right': ctrl.config.marginRight + 'px'}">

  <div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle uk-width-1-1">

      <div class="cc-box-header" data-ng-show="ctrl.loginMode != 'clickToChat'"
        data-ng-style="{background: ctrl.config.headerColor}">Login or Register</div>

      <form data-ng-show="ctrl.loginMode == 'simple'" class="uk-panel uk-form cc-inner-margin">
        <div class="uk-form-row">
          <input class="uk-width-1-1" type="text" placeholder="Email" data-ng-model="ctrl.email"
            data-enter-submit="ctrl.loginWithPassword()" required />
        </div>
        <div class="uk-form-row">
          <input class="uk-width-1-1" type="password" placeholder="Password" data-ng-model="ctrl.password"
            autocomplete="current-password" data-enter-submit="ctrl.loginWithPassword()" required />
          {{ ctrl.passwordFocus }}
        </div>
        <div data-ng-show="ctrl.showError" class="uk-form-row uk-alert uk-alert-danger">
          {{ ctrl.errorMessage }}
        </div>

        <div class="uk-form-row">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2">
              <button class="uk-button uk-button-primary uk-width-1-1"
                data-ng-click="ctrl.loginWithPassword()">Login</button>
            </div>
            <div class="uk-width-1-2">
              <button class="uk-button uk-button-success uk-width-1-1"
                data-ng-click="ctrl.signUp(ctrl.email, ctrl.password)">
                Sign up
              </button>
            </div>
          </div>
        </div>
        <div class="uk-form-row uk-text-small">
          <label class="uk-float-left cc-dark">
            <input type="checkbox" data-ng-model="ctrl.rememberMe">&nbsp;Remember Me
          </label>
          <a class="uk-float-right uk-link uk-link-muted cc-dark" data-ng-click="ctrl.forgotPassword(email)">
            Forgot Password?
          </a>
        </div>
        <div class="uk-form-row" data-ng-show="ctrl.config.socialLoginEnabled">
          <a class="uk-width-1-4 uk-icon-button uk-icon-facebook cc-dark" data-ng-click="ctrl.loginWithFacebook()"></a>
          <a class="uk-width-1-4 uk-icon-button uk-icon-twitter cc-dark" data-ng-click="ctrl.loginWithTwitter()"></a>
          <a class="uk-width-1-4 uk-icon-button uk-icon-github cc-dark" data-ng-click="ctrl.loginWithGithub()"></a>
          <a class="uk-width-1-4 uk-icon-button uk-icon-google-plus cc-dark" data-ng-click="ctrl.loginWithGoogle()"></a>
        </div>
        <div class="uk-form-row" data-ng-show="ctrl.config.anonymousLoginEnabled">
          <button class="uk-width-1-1 uk-button uk-button-danger uk-button-small"
            data-ng-click="ctrl.loginWithAnonymous()">
            Anonymous Login
          </button>
        </div>
      </form>
      <form data-ng-show="ctrl.loginMode == 'singleSignOn'" class="uk-panel uk-form cc-inner-margin">
        <a data-ng-show="ctrl.loginURL" data-ng-href="{{ ctrl.loginURL }}"> Login </a>
        <div data-ng-hide="ctrl.loginURL"> Login </div>
        &nbsp;or
        <a data-ng-show="ctrl.registerURL" data-ng-href="{{ ctrl.registerURL }}"> Register </a>
        <div data-ng-hide="ctrl.registerURL"> Register </div>
        &nbsp;with {{ ctrl.websiteName }} to start chatting!
      </form>
      <form data-ng-show="ctrl.loginMode == 'token'" class="uk-panel uk-form cc-inner-margin">
        Login token not valid
      </form>
      <form data-ng-show="ctrl.loginMode == 'authenticating'" class="uk-panel uk-form cc-inner-margin">
        Authenticating... <img data-ng-src="{{ ::ctrl.img_loader }}" width="26" height="26" />
      </form>
      <form data-ng-show="ctrl.loginMode == 'clickToChat'" class="uk-panel uk-form cc-inner-margin">
        <div class="cc-pointer" data-ng-click="ctrl.startChatting()">
          Click to start chatting!&nbsp;&nbsp;&nbsp;
          <img class="cc-image-30" data-ng-src="{{ ::ctrl.img_30_start_chatting }}" />
        </div>
      </form>
      <!--<iframe social-iframe src="https://chatcat.firebaseapp.com/partials/social.html" style="display: none" ></iframe>-->
    </div>
  </div>

  <notification notification="ctrl.notification"></notification>
</div>
